@import '../../styles/Styles.scss';
.landing {
    .test {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 20px;
    }
}