// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family: Poppins;
//colors
$pink:#FF477E;
$pink-hover:#ff598b;
$grey:#49516F;
$grey-light:#49516f7e;
$background:#E5E5E5;
$yellow:#FFC200;
$blue:#5465FF;
//font-sizes
$default:18px;
$small: 14px;
//paddings
$nav-padding:10px 5%;
$hero-padding:60px 5%;
//shadows
$shadow-normal: rgba(99,
99,
99,
0.2) 0px 2px 8px 0px;