@import '../../../styles/Styles.scss';
.normal-button-outer {
    .normal-button {
        background-color: white;
        color: $grey;
        font-size: $default;
        height: 62px;
        width: 130px;
        border-radius: 12px;
        text-transform: unset !important;
        font-weight: 600;
        box-shadow: none;
    }
    .normal-button:hover {
        box-shadow: $shadow-normal;
        background-color: white;
    }
}